@* Demo 4 - DB Basics; LV; Simplified and modified _Layout.cshtml*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo4</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Demo4</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="TableView">Table View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="ListView">List View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="SortDemo">Sort Demo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="FilterDemo">Filter Demo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="PaginationDemo">Pagination Demo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ProductData" asp-action="SortFilterPageDemo">Sort Filter Pagination Demo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - <a asp-area="" asp-controller="Home" asp-action="Index">Demo 4</a>
        </div>
    </footer>
</body>
</html>
