<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbar'); -%>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/2020-01-21_17-05-49.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Create New Post</h1>
                    <span class="subheading">Write a post.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="/post/store" method="POST" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title"
                               id="title" name="title"
                               required data-validation-required-message="Please enter the title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>SubHeading</label>
                        <input type="text" class="form-control" placeholder="Sub-Heading"
                                  id="subheading" name="subheading">
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Post Body</label>
                        <textarea rows="5" class="form-control" placeholder="Enter your post content"
                                  id="body" name="body"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Author</label>
                        <input type="text" class="form-control" placeholder="Author"
                               id="username" name="username">
                    </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Image</label>
                    <input type="file" class="form-control" placeholder="Select image"
                       id="image" name="image">
                  </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            id="createPostButton">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<%- include('layouts/footer'); -%>
<%- include('layouts/scripts'); -%>

</body>

</html>
