<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbar'); -%>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="/user/login" method="POST">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="User Name"
                               id="username" name="username"
                               required data-validation-required-message="Please enter a user name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password"
                               id="password" name="password"
                               required data-validation-required-message="Please enter a password.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            id="loginUserButton">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<%- include('layouts/footer'); -%>
<%- include('layouts/scripts'); -%>

</body>

</html>
