
/* base */
html {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: rgb(253, 253, 253);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size:3vw;
    margin: .5vw;
}
p, li {
    font-size: 1.7vw;
    font-weight: normal;

    display: block;
    float: left;
    align-self: auto;
    width: auto;
    padding: .4vw;
    margin: .5vw;
    border: .1vw solid navy;
}
/* layout */

/* modules */

/* state */


@media screen and (min-width: 800px) { 
    .container { 
      margin: 1em 2em; 
    } 
  } 