@*
    Demo 3 - Razor Basics; LV

    A layout contains common content that can be applied to multiple views
       
*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #mainDiv {
            padding: 20px;
            border: solid medium black;
            font-size: 20pt;
        }
    </style>
</head>
<body>
    <h1>Ram Auto</h1>
    <div id="mainDiv">
        
    @*the contents of the view specified by the action method is inserted here*@

        @RenderBody()
    </div>
</body>
</html>
