@*Demo 6 - Authentication Basics; LV*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Demo 6 - Cookie Authentication and Authorization in a ASP.NET Core Project</h3>
</div>
