@*Demo 5 - Authentication Basics; LV*@

@{
    ViewData["Title"] = "Open View";
}

<div class="text-center">
    <h1 class="display-4">Open View</h1>
    <h3>This view is open to all; authentication is not needed</h3>
</div>

